.site-footer{
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;

    .ligne-footer{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }
}



